        body {
            background: linear-gradient(135deg, #121212, #1f1f1f);
            font-family: 'Poppins', sans-serif;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background: linear-gradient(135deg, #1e1e1e, #292929);
            padding: 40px 20px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
            text-align: center;
            animation: fadeIn 0.8s ease;
            width: 90%;
            max-width: 360px;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 2.2rem;
            font-weight: 600;
            color: #2a5a4f;
            margin-bottom: auto;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin: auto 0 40px 0;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            width:150px
        }
        button {
            padding: 20px;
            border-radius: 12px;
            border: none;
            font-size: 1.4rem;
            font-weight: bold;
            cursor: pointer;
            color: black;
            background: linear-gradient(135deg, #2a5a4f, #2a5a4f);
            transition: transform 0.3s ease, background 0.3s ease;
        }

        button:hover {
            transform: scale(1.05);
            background: linear-gradient(135deg, #00cc77, #00ff96);
        }

        #status {
            margin-top: 15px;
            font-size: 1rem;
            color: #ccc;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
